@import "~bootstrap/dist/css/bootstrap.css";

$color-black: #16000c;
$color-gray: rgb(8, 6, 6);
$color-primary-light: #d5062d;
$color-primary-dark: #040c08;
$break-small: 720px;

* {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: aliceblue;
}

.heading-primary {
  margin-left: 1.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: aliceblue;
  font-size: 20px;
  line-height: 1.5;

  @media screen and (max-width: $break-small) {
    margin-left: 0;
    padding-left: 0 !important;
  }
}

body {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-black, 0.95),
      rgba($color-gray, 0.7)),
  url(https://static1.squarespace.com/static/58924831e6f2e110077abe77/58c9b4f517bffc596de331c7/58c9b59e1b10e366e879716b/1489614242700/Popcorn-in-paper-bag.jpg?format=1500w);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.film-card {

  &:hover {
    transform: scale(1.15);
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
  }
}

.nav-bar {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-dark, 1),
      rgba($color-black, 0.5));
  height: 100vh;
  right: 0;
  position: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border-radius: 20px 0 0 20px;
  animation: 1s ease-out 0s 1 fadeIn;

  &__hidden {
    background-image: none;
  }

  &__button {
    z-index: 9999;
    position: fixed;
    top: 20px;
    width: 50px;
    height: 50px;
    right: 20px;
    background-color: darkorange;
  }

  &__button-left {
    left: 20px;
    background-color: $color-black;
  }

}

.movie-content {
  &__nav-bar-active {
    animation: 0.5s ease-in-out 0s 1 slideContentWithNavbar;
  }

  &__nav-bar-inactive {
    animation: 0.5s ease-in-out 0s 1 slideContentWithOutNavbar;
  }
}

.details-container {
  animation: 0.5s ease-in-out 0s 1 fadeIn;
}

@keyframes slideContentWithOutNavbar {
  0% {
    transform: translateX(-6%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideContentWithNavbar {
  0% {
    transform: translateX(12%);
  }
  100% {
    transform: translateX(0);
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.single-line-row {
  flex-wrap: nowrap !important;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}


.scroll {
  &__right {
    padding-top: 12.5%;
    @media screen and (max-width: $break-small) {
      display: none;
    }
  }

  &__left {
    padding-top: 12.5%;
    @media screen and (max-width: $break-small) {
      display: none;
    }
  }
}

.mozilla-scrollbar-hack {
  overflow: hidden;
}

@media screen and (max-width: $break-small) {
  .detail-view-image {
    width: 100%;
  }
}
